# Python compiled files
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# Static files collected (if using collectstatic)
staticfiles/

# VS Code settings
.vscode/

# macOS files
.DS_Store