{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}

            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </p>

            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </p>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </div>
        <!-- Go Back Home Button -->
        <div style="text-align:center;">
            <a href="{% url 'home' %}" class="go-back">Go Back Home</a>
        </div>
    
</body>
</html>